@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@font-face{
    font-family: OswaldR;
    src: url("/assets/fonts/Oswald-Regular.ttf");
}
@font-face{
    font-family: OswaldB;
    src: url("/assets/fonts/Oswald-Bold.ttf");
    font-weight: bold;
}
:root{
    --dark-red:var(--bs-red);
    --light-red:#ff4d4d;
}
*{
    margin:0;
    padding:0;
}
html{
    overflow-x: hidden;
    height: auto !important;
    width: 100%
}
body{
    font-family: OswaldR, sans-serif !important;
    height: auto !important;
    width: 100%;
    overflow-x: hidden;
}
@media screen and (min-width:576px) {
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-thumb{
        background: var(--bs-red);
    }
    
}
#app{
    height: auto;
}


